@use "foundation/article";
@use "foundation/colors";

body {
  padding: 2rem 4rem 4rem;
  background-color: colors.$very-light-gray4;

  main {
    padding: 1rem;
    text-align: center;
    background-color: colors.$light-grayish-yellow;

    h1 {
      font-family: Rockwell, "Book Antiqua", serif;
      color: colors.$very-dark-grayish-blue;
    }
  }
}
