@use "foundation/article";
@use "foundation/colors";

* {
  box-sizing: border-box;
}

body {
  padding: 2rem 4rem 4rem;
  background-color: colors.$very-dark-gray;

  main {
    // background-color: colors.$light-grayish-yellow;

    p {
      margin: 0;
    }

    h1 {
      margin: 0;
      font-family: "Nanum Pen Script", cursive;
      font-weight: 300;
      color: colors.$very-light-gray1;
    }
  }
}
