@use "foundation/blogPost";
@use "foundation/colors";

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0 0 0 / 30%);

  a:any-link {
    color: colors.$milky;
  }

  h1 {
    margin: 0;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 300;
    color: colors.$milky;
    text-align: center;
  }

  h2,
  time {
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
    font-weight: 300;
    color: colors.$milky;
  }

  h3 {
    font-family: Consolas, "Lucida Sans", sans-serif;
    font-weight: 200;
    text-align: center;

    // font-family: "Book Antiqua", Spectral, Hahmlet, serif;
  }

  p {
    font-family: Consolas, "Lucida Sans", sans-serif;
  }

  .site-content {
    height: 100vh;
    margin-top: 60vh;

    // 主页正文背景
    background-color: rgba(28 36 10 / 40%);

    p {
      color: rgb(175 143 218);
    }

    .wrappers {
      // 左右结构
      display: flex;
      height: 100%;

      .link-list-wrapper {
        display: block;
        width: 20%;
        min-width: 200px;
        padding-top: 40px;

        .topics {
          padding-top: 100px;

          a {
            text-decoration: none;
          }

          .topic {
            width: 100px;
            height: 100px;
            margin: auto;
            margin-bottom: 1rem;
            line-height: 100px;
            text-align: center;
            background-color: rgba(0 0 0 / 60%);
          }
        }
      }

      .para-list-wrapper {
        display: block;
        padding-top: 40px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: rgba(0 0 0 / 60%);
      }
    }
  }

  .site-footer {
    height: 30vh;
    padding-top: 40px;
    text-align: center;

    // 主页页脚背景
    background-color: rgba(0 0 0 / 40%);

    p {
      color: rgb(228 217 242);
    }
  }
}
